<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Ausaf Ahmad Ansari</h1>
        <h1>Software Developer | Angular Developer</h1>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/ausaf-ahmad-ansari/" target="_blank" class="">
            <img src="https://gist.github.com/assets/35466676/0189b46f-ec94-4543-b564-e5d299b6d31f" width="24" height="24" class="rounded-circle me-2" alt="Linkedin icon" srcset="">
        </a>

        <a href="https://github.com/ahmad-ausaf0" target="_blank" class="">
            <img src="https://gist.github.com/assets/35466676/d583f0e6-0176-4ad0-a334-eaf396e650c3" width="24" height="24" class="rounded-circle me-2" alt="" srcset="">
        </a>

        <a href="https://wa.me/+918076366564" target="_blank" class="">
            <img src="https://gist.github.com/assets/35466676/90f5ba3e-e031-4162-adf2-bf2a3416c31a" width="30" height="30" class="rounded-circle me-2" alt="" srcset="">
        </a>
    </div>
</div>

<!-- <input
    type="checkbox"
    [checked]="darkMode$ | async"
    (change)="onToggle()"
  /> -->
