/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1140px;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
  }
  
  body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
  }
