<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <img src="../../assets/Ausaf.jpg" alt="profile-image" width="256"
                height="256" class="rounded-circle">
                <p>Angular Developer with expertise in developing frontend user interface using HTML5, CSS3, JavaScript and Angular. Involved in end-to-end development of software products from requirement analysis, coding, debugging and implementation. Excellent communication, interpersonal, organizing and analytical skills along with a positive attitude, dedication and professionalism.</p>
            </div>
        </div>

        <!-- Featured Projects -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>
