<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <!-- <img src="https://gist.github.com/assets/35466676/accf7a30-13a9-4f30-baca-7b6743190b16" alt="profile-image" width="256"
                height="256" class="rounded-circle"> -->
                <img src="https://gist.github.com/assets/35466676/3ba0a630-5b18-4f3a-bdde-270537c2687f" alt="profile-image" width="256"
                height="256" class="rounded-circle">
                <p>Angular Developer with expertise in developing frontend user interface using HTML5, CSS3, JavaScript and Angular. Involved in end-to-end development of software products from requirement analysis, coding, debugging and implementation. Excellent communication, interpersonal, organizing and analytical skills along with a positive attitude, dedication and professionalism.</p>
            </div>
        </div>

        <!-- Featured Projects -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{ featuredProject.name }}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                  <slide>
                    <div class="slide-container">
                      <img src={{picture}} alt="slidePics">
                    </div>
                  </slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p><span><a routerLink="/portfolio">View</a></span> the Portfolio section to learn more!</p>
            
        </div>
    </div>
</div>

<div>
   <footer>
    <!-- <p>
      **This is my personal project portfolio.**
    </p> -->
    <p>
      &copy; Created by
      <a href="https://www.linkedin.com/in/ausaf-ahmad-ansari/" target="_blank"
        >Ausaf Ahmad Ansari</a>
    </p>
  </footer>
</div>
